/* 1. Pantallas grandes (1300px o más) */
@media screen and (min-width: 1300px) {
  body {
    
  }
}

/* 2. Teléfonos (vertical) */
@media screen and (max-width: 480px) {
  body {
    font-size: 0.8em; /* Reduce el tamaño de la fuente */
  }  
  main {
    max-width: 90%; /* Aumenta el ancho máximo */
  }
  .logo {
    height: 10vh;
  }
  .imagen {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  }

  legend { /* Legend es el título de un fieldset */
  font-weight: bold;
  font-size: 0.7rem;
  
}
}

/* 3. Teléfonos (horizontal) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  body {
      font-size: 0.8em; /* Reduce el tamaño de la fuente */
    }

  .logo {
    height: 15vh;
  }

  main {
    max-width: 120%; /* Aumenta el ancho máximo */
  }
}

/* 4. Tablets (vertical) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
  body {
    font-size: 1em; /* Reduce el tamaño de la fuente */
  }
  
  main {
    max-width: 80%;
    }

  .logo {
  height: 10vh;
  }
}

/* 5. Tablets (horizontal) */
@media screen and (min-width: 992px) and (max-width: 1299px) {
  .logo {
    height: 10vh;
  }

}

